demo_iteration1.json
[{"id":"b61787e3.9856e8","type":"tab","label":"HC-Sense","disabled":false,"info":""},{"id":"cf132baf.5e0cd8","type":"mqtt out","z":"b61787e3.9856e8","name":"StopDuration(Buzzer)","topic":"HCSense/stopDur","qos":"","retain":"","broker":"f541aba7.281428","x":460,"y":660,"wires":[]},{"id":"9fffedce.56fa7","type":"mqtt in","z":"b61787e3.9856e8","name":"Temperature","topic":"HCSense/temp","qos":"0","datatype":"auto","broker":"f541aba7.281428","x":130,"y":80,"wires":[["67bc5f3c.40bf","7e517d0c.c28214","56ad1b3d.8f5614"]]},{"id":"6597f26b.90a0bc","type":"mqtt in","z":"b61787e3.9856e8","name":"Humidity","topic":"HCSense/humi","qos":"0","datatype":"auto","broker":"f541aba7.281428","x":120,"y":140,"wires":[["87e1510c.0e195","7e517d0c.c28214","327f6418.54050c"]]},{"id":"67bc5f3c.40bf","type":"ui_gauge","z":"b61787e3.9856e8","name":"Temperature","group":"503da2cf.e8399c","order":1,"width":5,"height":5,"gtype":"donut","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":40,"wires":[]},{"id":"87e1510c.0e195","type":"ui_gauge","z":"b61787e3.9856e8","name":"Humidity","group":"503da2cf.e8399c","order":3,"width":5,"height":5,"gtype":"donut","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":100,"wires":[]},{"id":"73875b28.40c2d4","type":"ui_button","z":"b61787e3.9856e8","name":"","group":"503da2cf.e8399c","order":20,"width":0,"height":0,"passthru":false,"label":"Stop For 10 Seconds","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10000","payloadType":"str","topic":"HCSense/stopDur","x":160,"y":680,"wires":[["cf132baf.5e0cd8","1ff3c3d8.0b73dc"]]},{"id":"1ff3c3d8.0b73dc","type":"debug","z":"b61787e3.9856e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":720,"wires":[]},{"id":"f705f336.ebb6","type":"mqtt in","z":"b61787e3.9856e8","name":"Co2","topic":"HCSense/ppm","qos":"2","datatype":"auto","broker":"f541aba7.281428","x":110,"y":200,"wires":[["7ad1fd24.d4a104","8149e4e3.216498","7e517d0c.c28214"]]},{"id":"7ad1fd24.d4a104","type":"ui_gauge","z":"b61787e3.9856e8","name":"ppm","group":"503da2cf.e8399c","order":5,"width":5,"height":5,"gtype":"donut","title":"Co2","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#52ff52","#f7f759","#ca3838"],"seg1":"50","seg2":"","x":610,"y":180,"wires":[]},{"id":"d76f2ab5.9f5578","type":"mqtt in","z":"b61787e3.9856e8","name":"Light","topic":"HC-Sense/lux","qos":"2","datatype":"auto","broker":"f541aba7.281428","x":110,"y":460,"wires":[["2777e116.6b48ee","11e7ef70.a18b51","7e517d0c.c28214"]]},{"id":"2777e116.6b48ee","type":"ui_gauge","z":"b61787e3.9856e8","name":"light","group":"503da2cf.e8399c","order":7,"width":5,"height":5,"gtype":"donut","title":"Light Intensity","label":"lux","format":"{{value}}","min":0,"max":"5000","colors":["#84d784","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":480,"wires":[]},{"id":"8149e4e3.216498","type":"ui_chart","z":"b61787e3.9856e8","name":"Co2_Chart","group":"e0d93618.caf988","order":29,"width":10,"height":8,"label":"Co2 Level Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":220,"wires":[[]]},{"id":"11e7ef70.a18b51","type":"ui_chart","z":"b61787e3.9856e8","name":"Light Intensity","group":"e0d93618.caf988","order":31,"width":10,"height":8,"label":"Light Intensity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":520,"wires":[[]]},{"id":"3054e742.c4f448","type":"mongodb2 in","z":"b61787e3.9856e8","service":"_ext_","configNode":"5f0ddf4a.0ca7c","name":"","collection":"sensors","operation":"insert","x":900,"y":320,"wires":[["fd2a9a8c.d51048"]]},{"id":"fd2a9a8c.d51048","type":"debug","z":"b61787e3.9856e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":320,"wires":[]},{"id":"98c55306.cec0f","type":"function","z":"b61787e3.9856e8","name":"insert","func":"var newMsg = {\n    'collection'    : 'sensors',\n    'operation'     : 'insert',\n    'payload'       : {\n        'value'         : msg.payload,\n        'sensor'        : msg.sensor\n    }\n};\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":920,"wires":[[]]},{"id":"73ed8392.0d7b0c","type":"change","z":"b61787e3.9856e8","name":"msg.sensor = lux","rules":[{"t":"set","p":"sensor","pt":"msg","to":"lux","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":920,"wires":[["98c55306.cec0f"]]},{"id":"ccf4b9bf.a41f88","type":"change","z":"b61787e3.9856e8","name":"msg.sensor = ppm","rules":[{"t":"set","p":"sensor","pt":"msg","to":"ppm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":860,"wires":[["98c55306.cec0f"]]},{"id":"c6700a2c.7f5c58","type":"function","z":"b61787e3.9856e8","name":"timestamp","func":"msg.timestamp = new Date().toISOString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":780,"wires":[["8d5d5fef.79e86"]]},{"id":"c2f369bd.c912b8","type":"join","z":"b61787e3.9856e8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":320,"wires":[["3054e742.c4f448"]]},{"id":"8d5d5fef.79e86","type":"json","z":"b61787e3.9856e8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":800,"wires":[["37708791.d25238"]]},{"id":"37708791.d25238","type":"change","z":"b61787e3.9856e8","name":"Del","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":800,"wires":[[]]},{"id":"7e517d0c.c28214","type":"function","z":"b61787e3.9856e8","name":"","func":"//msg.payload = msg.payload + \" - \" + new Date().toString();\nmsg.payload = {value:msg.payload, timestamp:new Date().toString()};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[["c2f369bd.c912b8"]]},{"id":"327f6418.54050c","type":"ui_chart","z":"b61787e3.9856e8","name":"Humidity","group":"e0d93618.caf988","order":4,"width":10,"height":8,"label":"Humidity Level Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":160,"wires":[[]]},{"id":"56ad1b3d.8f5614","type":"ui_chart","z":"b61787e3.9856e8","name":"Temperature","group":"e0d93618.caf988","order":2,"width":10,"height":8,"label":"Temperature Level Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":340,"y":100,"wires":[[]]},{"id":"f541aba7.281428","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"503da2cf.e8399c","type":"ui_group","name":"Room Conditions","tab":"7f4b3b0f.c13aa4","order":1,"disp":true,"width":"23","collapse":false},{"id":"e0d93618.caf988","type":"ui_group","name":"Graph","tab":"7f4b3b0f.c13aa4","order":2,"disp":true,"width":"23","collapse":false},{"id":"5f0ddf4a.0ca7c","type":"mongodb2","uri":"MongoDB://localhost:27017/hcsense","name":"hcsense","options":"","parallelism":"-1"},{"id":"7f4b3b0f.c13aa4","type":"ui_tab","name":"Welcome to HC-Sense","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
