flows.json
[{"id":"45258df2.90aa34","type":"tab","label":"HC-Sense","disabled":false,"info":""},{"id":"12215838.e68fc8","type":"mqtt out","z":"45258df2.90aa34","name":"StopDuration(Buzzer)","topic":"HCSense/stopDur","qos":"","retain":"","broker":"f541aba7.281428","x":460,"y":660,"wires":[]},{"id":"56dcba04.59abc4","type":"mqtt in","z":"45258df2.90aa34","name":"Temperature","topic":"HCSense/temp","qos":"0","datatype":"auto","broker":"f541aba7.281428","x":130,"y":80,"wires":[["b09eeb4f.deef08","c6728f03.6e1","cf29bf8a.2dc1d"]]},{"id":"41859c0b.af3304","type":"mqtt in","z":"45258df2.90aa34","name":"Humidity","topic":"HCSense/humi","qos":"0","datatype":"auto","broker":"f541aba7.281428","x":120,"y":140,"wires":[["7b883115.aaf5b","c6728f03.6e1","cda5409d.bd74f"]]},{"id":"b09eeb4f.deef08","type":"ui_gauge","z":"45258df2.90aa34","name":"Temperature","group":"503da2cf.e8399c","order":1,"width":5,"height":5,"gtype":"donut","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":40,"wires":[]},{"id":"7b883115.aaf5b","type":"ui_gauge","z":"45258df2.90aa34","name":"Humidity","group":"503da2cf.e8399c","order":3,"width":5,"height":5,"gtype":"donut","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":100,"wires":[]},{"id":"daad3223.9c6ea","type":"ui_button","z":"45258df2.90aa34","name":"","group":"503da2cf.e8399c","order":20,"width":0,"height":0,"passthru":false,"label":"Stop For 10 Seconds","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10000","payloadType":"str","topic":"HCSense/stopDur","x":160,"y":680,"wires":[["12215838.e68fc8","8e8aa25f.d158f"]]},{"id":"8e8aa25f.d158f","type":"debug","z":"45258df2.90aa34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":720,"wires":[]},{"id":"cda08133.40d67","type":"mqtt in","z":"45258df2.90aa34","name":"Co2","topic":"HCSense/ppm","qos":"2","datatype":"auto","broker":"f541aba7.281428","x":110,"y":200,"wires":[["2b362ad1.0d1a06","e773410b.9f427","c6728f03.6e1"]]},{"id":"2b362ad1.0d1a06","type":"ui_gauge","z":"45258df2.90aa34","name":"ppm","group":"503da2cf.e8399c","order":5,"width":5,"height":5,"gtype":"donut","title":"Co2","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#52ff52","#f7f759","#ca3838"],"seg1":"50","seg2":"","x":610,"y":180,"wires":[]},{"id":"fa8de638.3bef48","type":"mqtt in","z":"45258df2.90aa34","name":"Light","topic":"HC-Sense/lux","qos":"2","datatype":"auto","broker":"f541aba7.281428","x":110,"y":460,"wires":[["983dcc93.74936","8e6169e2.d15658","c6728f03.6e1"]]},{"id":"983dcc93.74936","type":"ui_gauge","z":"45258df2.90aa34","name":"light","group":"503da2cf.e8399c","order":7,"width":5,"height":5,"gtype":"donut","title":"Light Intensity","label":"lux","format":"{{value}}","min":0,"max":"5000","colors":["#84d784","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":480,"wires":[]},{"id":"e773410b.9f427","type":"ui_chart","z":"45258df2.90aa34","name":"Co2_Chart","group":"e0d93618.caf988","order":29,"width":10,"height":8,"label":"Co2 Level Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":530,"y":220,"wires":[[]]},{"id":"8e6169e2.d15658","type":"ui_chart","z":"45258df2.90aa34","name":"Light Intensity","group":"e0d93618.caf988","order":31,"width":10,"height":8,"label":"Light Intensity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":460,"y":520,"wires":[[]]},{"id":"22082097.12718","type":"mongodb2 in","z":"45258df2.90aa34","service":"_ext_","configNode":"5f0ddf4a.0ca7c","name":"","collection":"sensors","operation":"insert","x":900,"y":320,"wires":[["d6bd7579.d34c58"]]},{"id":"d6bd7579.d34c58","type":"debug","z":"45258df2.90aa34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":320,"wires":[]},{"id":"5199e337.fd990c","type":"function","z":"45258df2.90aa34","name":"insert","func":"var newMsg = {\n    'collection'    : 'sensors',\n    'operation'     : 'insert',\n    'payload'       : {\n        'value'         : msg.payload,\n        'sensor'        : msg.sensor\n    }\n};\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":920,"wires":[[]]},{"id":"877c4601.29ab48","type":"change","z":"45258df2.90aa34","name":"msg.sensor = lux","rules":[{"t":"set","p":"sensor","pt":"msg","to":"lux","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":920,"wires":[["5199e337.fd990c"]]},{"id":"47555524.19e12c","type":"change","z":"45258df2.90aa34","name":"msg.sensor = ppm","rules":[{"t":"set","p":"sensor","pt":"msg","to":"ppm","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":860,"wires":[["5199e337.fd990c"]]},{"id":"912418a2.89b2e8","type":"function","z":"45258df2.90aa34","name":"timestamp","func":"msg.timestamp = new Date().toISOString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":780,"wires":[["2faeeaa.d363316"]]},{"id":"c735f222.c2738","type":"join","z":"45258df2.90aa34","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":320,"wires":[["22082097.12718"]]},{"id":"2faeeaa.d363316","type":"json","z":"45258df2.90aa34","name":"","property":"payload","action":"","pretty":false,"x":390,"y":800,"wires":[["45120302.75e8cc"]]},{"id":"45120302.75e8cc","type":"change","z":"45258df2.90aa34","name":"Del","rules":[{"t":"delete","p":"qos","pt":"msg"},{"t":"delete","p":"retain","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":800,"wires":[[]]},{"id":"c6728f03.6e1","type":"function","z":"45258df2.90aa34","name":"","func":"//msg.payload = msg.payload + \" - \" + new Date().toString();\nmsg.payload = {value:msg.payload, timestamp:new Date().toString()};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[["c735f222.c2738"]]},{"id":"cda5409d.bd74f","type":"ui_chart","z":"45258df2.90aa34","name":"Humidity","group":"e0d93618.caf988","order":4,"width":10,"height":8,"label":"Humidity Level Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":430,"y":160,"wires":[[]]},{"id":"cf29bf8a.2dc1d","type":"ui_chart","z":"45258df2.90aa34","name":"Temperature","group":"e0d93618.caf988","order":2,"width":10,"height":8,"label":"Temperature Level Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":340,"y":100,"wires":[[]]},{"id":"f541aba7.281428","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"503da2cf.e8399c","type":"ui_group","name":"Room Conditions","tab":"7f4b3b0f.c13aa4","order":1,"disp":true,"width":"23","collapse":false},{"id":"e0d93618.caf988","type":"ui_group","name":"Graph","tab":"7f4b3b0f.c13aa4","order":2,"disp":true,"width":"23","collapse":false},{"id":"5f0ddf4a.0ca7c","type":"mongodb2","uri":"MongoDB://localhost:27017/hcsense","name":"hcsense","options":"","parallelism":"-1"},{"id":"7f4b3b0f.c13aa4","type":"ui_tab","name":"Welcome to HC-Sense","icon":"dashboard","order":1,"disabled":false,"hidden":false}]